* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Courier New", Courier, monospace;
}

#chat {
  margin-left: 20%; /* same as the width of the sidebar */
  margin-bottom: 100px;
  width: 80%;
}

html {overflow: -moz-scrollbars-none;}
