#messages {
  list-style: none;
  margin: 0;
  padding: 12px;
}

#messages li { /* class of lists devoid of self or all direction */
  display:inline-block;
  clear: both;
  padding: 8px;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

#messages .send-all {
  margin-bottom: 8px;
  border-radius: 8px;
  color: #333;
  background: #eee;
  float:left;
}

#messages .send-self {
  margin-bottom: 8px;
  border-radius: 8px;
  color: #eee;
  background: #333;
  float: right;
}

#messages .send-all-top {
  margin-bottom: 0px;
  border-radius: 8px 8px 0px 0px;
  color: #333;
  background: #eee;
  float:left;
}

#messages .send-self-top {
  margin-bottom: 0px;
  border-radius: 8px 8px 0px 0px;
  color: #eee;
  background: #333;
  float: right;
}

#messages .send-all-middle {
  margin-bottom: 0px;
  border-radius: 0px;
  color: #333;
  background: #eee;
  float:left;
}

#messages .send-self-middle {
  margin-bottom: 0px;
  border-radius: 0px;
  color: #eee;
  background: #333;
  float: right;
}

#messages .send-all-bottom {
  margin-bottom: 8px;
  border-radius: 0px 0px 8px 8px;
  color: #333;
  background: #eee;
  float:left;
}

#messages .send-self-bottom {
  margin-bottom: 8px;
  border-radius: 0px 0px 8px 8px;
  color: #eee;
  background: #333;
  float: right;
}

#inv-block {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  color: transparent;
  background: transparent;
  float:left;
}

#messages li:nth-child(odd) {
  /* stripe pattern attributes here */
}
