#messages {
  list-style: none;
  margin: 0;
  padding: 12px;
}

#messages li { /* class of lists devoid of self or all direction */
  display:inline-block;
  clear: both;
  padding: 8px;
  padding-right: 1.25%;
  padding-left: 1.25%;

  max-width: 50%;
  word-break: break-all;
}

/* ================= propic namestamp and timestamp ==========================*/

#messages .stamp {
  padding: 0px;
  margin-bottom: 6px;
  margin-top: 10px;
  float: left;
  color: #888;
  background: transparent;
}

.propic {
  background-position: center center;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.propicdiv {
  width: 42px;
  height: 42px;
  display:inline;
  float: left;
  border-radius: 50%;

  -webkit-box-shadow: 0px 0px 7px 0px #333388;
  -moz-box-shadow: 0px 0px 7px 0px #333388;
  box-shadow: 0px 0px 7px 0px #333388;
}

.stamptext {
  font-size: 14px;
  text-align:center;
  padding-top: 14px;
  padding-right: 16px;
  padding-left: 16px;
  display:inline;
  white-space:nowrap;
  float: right;
}

#messages .stamp-self {
  position: relative;
  left: 5px; /* slight hack, propic on self side is offset a little bit right */
  padding: 6px;
  margin-bottom: 0px;
  margin-top: 10px;
  float: right;
  color: #888;
  background: transparent;
}

.propicdiv-self {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display:inline;
  float: right;

  -webkit-box-shadow: 0px 0px 7px 0px #333388;
  -moz-box-shadow: 0px 0px 7px 0px #333388;
  box-shadow: 0px 0px 7px 0px #333388;
}

.stamptext-self {
  font-size: 14px;
  text-align:center;
  padding-top: 14px;
  padding-right: 16px;
  padding-left: 20px;
  display:inline;
  white-space:nowrap;
  float: left;
}

/* =================== sending messages :) ===================================*/

#messages .send-all {
  margin-bottom: 6px;
  border-radius: 18px;
  color: #333;
  background: #eee;
  float:left;
  -webkit-box-shadow: 0px 0px 7px 0px #333388;
  -moz-box-shadow: 0px 0px 7px 0px #333388;
  box-shadow: 0px 0px 7px 0px #333388;
}

#messages .send-self {
  margin-bottom: 6px;
  border-radius: 18px;
  color: #eee;
  background: #333;
  float: right;

  /* for send self there needs to be antialiasing so i just hacked together something */
  -webkit-box-shadow: 0px 0px 4px 1px #333388;
  -moz-box-shadow: 0px 0px 4px 1px #333388;
  box-shadow: 0px 0px 4px 1px #333388;
}

#inv-block {
  padding: 12px;
  margin-bottom: 3.5%;
  color: transparent;
  background: transparent;
  float:left;
}

#messages li:nth-child(odd) {
  /* stripe pattern attributes here */
}
